body {
  margin: 0;
  padding: 0;
}

/* 헤더 스타일 */

header {
  display: flex;
  /* 행방향으로 배치 */
  justify-content: space-between;
  /* 로고 사진 끝으로 보내기 */
  align-items: center;
  /* 높이 일정하게 */
  padding: 41px 300px;
}

nav ul {
  list-style: none;
  /* 점 없애기 */
  display: flex;
  /* 행방향 */
  padding: 0px;
}

nav li {
  margin-right: 100px;
  /* 글자 간격 조절 */
}

footer {
  background-color: #F0F0F0;
  padding: 56px 300px;
}

#appandme {
  display: flex;
  margin-bottom: 16px;


  color: var(--primary, #FF8DAF);
  text-align: center;

  /* header/bold.20 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 32px */
}

#anm {
  margin-left: 20px;
  margin-right: 1163px;
}


#phone {
  margin-bottom: 8px;

  color: var(--gray-800, #575757);

  /* body/regular.14 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
}

#email {
  margin-bottom: 32px;

  color: var(--gray-800, #575757);

  /* body/regular.14 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
}

#team {
  height: 19px;
  width: 1320px;
  padding-top: 30px;
  border-top: 1px solid #828282;

  color: #616161;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 메인 시작 */

main {
  display: flex;

}

main img {
  width: 361px;
  height: 259px;
  flex-shrink: 0;
}

.title {
  color: var(--gray-900, #2B2B2B);

  /* header/bold.24 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 38.4px */
}

.detail {
  width: 361px;

  color: var(--gray-700, #828282);

  /* body/medium.16 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
}

/* 수정 필요함 */

#c1 {
  margin: 206px 0px 343px 300px;
}

#c2 {
  margin: 407px 0px 168px 113px;
}

#c3 {
  margin: 171px 311px 352px 50px;
}
